.cardlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    gap: var(--grid-gap-cardlist);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cardlist.planets {
    grid-template-columns: var(--template-columns-cardlist-planets);   
}

.card {
    border: 3px solid #000;
    border-radius: .5em;
    overflow: hidden;
    height: 100%;
    padding: .25em .5em;
}

.card.gaia {
    border-color: var(--color-biome-gaia);
}

.card.gaia .biome {
    color: var(--color-biome-gaia);
    font-weight: bold;
}

.card.prep {
    border-color: var(--color-biome-prep);
}

.card.prep .biome {
    color: var(--color-biome-prep);
    font-weight: bold;
}

.card.uninhabitable {
    border-color: var(--color-biome-uninhabitable);
}

.card.uninhabitable .biome {
    color: var(--color-biome-uninhabitable);
    font-weight: bold;
}

.card h3 {
    margin: 0 0 .25em;
}

.card div span {
    display: inline-block;
}

.card div span + span {
    margin-left: 1em;
}

.card table {
    table-layout: fixed;
    width: 100%;
    margin-top: .5rem;
    border-collapse: collapse;
}

.card th {
    text-align: center;
}

.card th + th {
    width: 3em;
}

.card td {
    padding: .35rem;
}

.card td + td {
    text-align: center;
}

.card .cost {
    text-align: right;
}

.card tbody tr:nth-child(odd) {
    background-color: rgb(234, 214, 240);
}





